<!DOCTYPE html>
<html lang="fr">

<head>
    <title><%= metaTitle %></title>
    <meta name="description" content="<%= metaDescription %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/bomb.png" />
    <link rel="stylesheet" href="/stylesheets/dropdown.min.css">
    <link rel="stylesheet" href="/stylesheets/tailwind.min.css" />
    <link rel="stylesheet" href="/stylesheets/extinction.min.css" />
    <link rel="stylesheet" href="/stylesheets/matchstyle.min.css" />
    <link rel="stylesheet" href="/stylesheets/toastr.min.css" />
    <% if (typeof chartist !== 'undefined') { %>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <style>
        .ct-label {
            font-size: 12px;
            color: #c3c3c3;
        }

        .ct-point {
            stroke-width: 0px;
        }

        .ct-series-a .ct-line {
            stroke: #019d9d;
            stroke-width: 3px;
        }

        .ct-series-b .ct-line {
            stroke: #cb546b;
            stroke-width: 3px;
        }

        .ct-series-c .ct-line {
            stroke: #c9cd36;
            stroke-width: 3px;
        }

        .ct-series-c .ct-line {
            stroke: #6B76C0;
            stroke-width: 3px;
        }

        .ct-grids {
            display: none;
        }
    </style>
    <% } %>
    <script src="/javascripts/navbar.min.js"></script>
</head>

<body class="m-0 p-0 text-white-extinction bg-extinction-dark">
    <%- include navbar.ejs %>