version: '3'

services:
    redis:
        container_name: redis
        image: redis:alpine
        ports:
            - '6379:6379'
        command:
            ['--requirepass "secret0743"']
        networks:
            - app-network

    nodejs:
        container_name: nodejs
        build: .
        volumes:
            - ".:/home/node/app/"
            - "/home/node/app/node_modules"
        ports:
            - "8080:8080"
        links:
            - redis
        restart: unless-stopped
        networks:
            - app-network

    db:
        container_name: db
        image: postgres
        environment:
            - POSTGRES_DB=database
            - POSTGRES_USER=dbuser
            - POSTGRES_PASSWORD=secret0743
        volumes:
            - db-data:/var/lib/postgresql/data:rw
        ports:
            - "5432:5432"
        networks:
            - app-network

    webserver:
        image: nginx:mainline-alpine
        container_name: webserver
        restart: unless-stopped
        ports:
          - "80:80"
          - "443:443"
        volumes:
          - web-root:/var/www/html
          - ./nginx-conf/nginx.conf:/etc/nginx/conf.d/default.conf
          - certbot-etc:/etc/letsencrypt
          - certbot-var:/var/lib/letsencrypt
          - dhparam:/etc/ssl/certs
        depends_on:
          - nodejs
        networks:
          - app-network

    certbot:
        image: certbot/certbot
        container_name: certbot
        volumes:
            - certbot-etc:/etc/letsencrypt
            - certbot-var:/var/lib/letsencrypt
            - web-root:/var/www/html 
        depends_on:
            - webserver
        command: certonly --webroot --webroot-path=/var/www/html --email tomdelie78@gmail.com --agree-tos --no-eff-email --staging -d bouboum.fr -d www.bouboum.fr

volumes:
    db-data:
    certbot-etc:
    certbot-var:
    web-root:
        driver: local
        driver_opts:
            type: none
            device: /home/kyzoid/bouboum-ranking/views/
            o: bind
    dhparam:
        driver: local
        driver_opts:
            type: none
            device: /home/kyzoid/bouboum-ranking/dhparam/
            o: bind

networks:
    app-network:
        driver: bridge