version: '3'
services:
    redis:
        image: redis:alpine
        ports:
            - '6379:6379'
        command:
            ['--requirepass "secret"']
    app:
        build: .
        volumes:
            - ".:/usr/src/app/"
            - "/usr/src/app/node_modules"
        ports:
            - '8080:3000'
        command: npm start
        links:
            - redis
    db:
        image: postgres
        environment:
            - POSTGRES_DB=database
            - POSTGRES_USER=user
            - POSTGRES_PASSWORD=secret
        volumes:
            - ./docker/db/data:/var/lib/postgresql/data:rw
        ports:
            - "5432:5432"
