<%- include('templates/header') %>

<div class="mt-8 container flex flex-col mx-auto px-4 items-center">
    <h1 class="text-4xl text-red-extinction text-center mb-6">Connexion</h1>
    <form id="form" method="POST" class="bg-extinction p-4 shadow-md rounded">
        <div class="text-center mb-4">
            <span class="text-lg text-red-extinction"><%= err %></span>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-green-extinction text-sm font-bold mb-2" for="username">
                Pseudo
            </label>
            <input
                class="shadow  border rounded w-full py-2 px-3 text-white-extinction font-bold bg-extinction-dark border-none"
                id="username" name="username" type="text">
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2 text-green-extinction" for="password">
                Mot de passe
            </label>
            <input
                class="shadow  border rounded w-full py-2 px-3 text-white-extinction font-bold bg-extinction-dark border-none"
                id="password" name="password" type="password">
        </div>
        <button type="button" id="submit-button" class="hover:bg-blue-700 bg-green-extinction text-white font-bold py-2 px-4 rounded">
            Valider
        </button>

    </form>
</div>
<script src="/javascripts/auth.min.js"></script>
<%- include('templates/footer') %>