<%- include('header') %>

<div class="container mx-auto px-4 text-center">
    <h1 class="text-5xl text-red-extinction">Error <%= error.status %></h1>
    <h1 class="text-4xl"></h1>
</div>

<%- include('footer') %>