<%- include('templates/header') %>

<div class="mt-8 container mx-auto px-4 text-center">
    <h1 class="text-5xl text-red-extinction">Error <%= error.status %></h1>
    
    <h1 class="text-3xl mt-4"><%= error.message %></h1>
</div>

<%- include('templates/footer') %>