<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Bouboum | Classement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Classement Bouboum">
    <link rel="icon" href="/images/bomb.png" />
    <link rel='stylesheet' href='/stylesheets/tailwind.css' />
    <link rel='stylesheet' href='/stylesheets/extinction.css' />
    <link rel='stylesheet' href="/stylesheets/match.css" />
    <script src='/javascripts/dayjs.min.js'></script>
    
</head>

<body class="text-white-extinction bg-extinction-dark">
    
