<!DOCTYPE html>
<html>

<head>
    <title>Bouboum | Classement</title>
    <link rel="icon" href="/images/bomb.png" />
    <link rel='stylesheet' href='/stylesheets/tailwind.css' />
    <link rel='stylesheet' href='/stylesheets/extinction.css' />
    <script src='/javascripts/all.min.js'></script>
    <script src='/javascripts/dayjs.min.js'></script>
    <script type='module' src="/javascripts/bouboum-ranking.js"></script>
    
</head>

<body class="text-white-extinction bg-extinction-dark">
    
