<%- include('templates/header') %>

<div class="container mx-auto px-4 text-center">

    <div>
        <h1 class="text-3xl text-green-extinction">Classements</h1>
        <p>Cliquez sur un jeu pour afficher le classement</p>
        <div class="menu mt-6 flex items-center justify-center">
            <a class="menu-choice flex items-center justify-center" href="/aaaah">
                <img src="/images/menu_aaaah.png">
            </a>
            <a class="menu-choice ml-6 flex items-center justify-center" href="/bouboum">
                <img src="/images/menu_bouboum.png">
            </a>
            <a class="menu-choice p-2 ml-6 break-words flex items-center justify-center" href="/match">
                Match<br>overlay
            </a>
        </div>
    </div>

</div>

<%- include('templates/footer') %>