<%- include('templates/header') %>

<div class="container mx-auto px-4 text-center">

    <div>
        <h1 class="text-3xl text-green-extinction">Classements</h1>
        <p>Cliquez sur un jeu pour afficher le classement</p>
        <div class="menu mt-6 flex items-center justify-center">
            <a class="menu-choice flex items-center justify-center" href="/aaaah">
                <div class="flex flex-col mt-2">
                    <img alt="aaaah" src="/images/menu_aaaah.png">
                    <span class="mt-2 text-shadow text-xs">Aaaah !</span>
                </div>
            </a>
            <a class="menu-choice ml-6 flex items-center justify-center" href="/bouboum">
                <div class="flex flex-col mt-2">
                    <img alt="bouboum" src="/images/menu_bouboum.png">
                    <span class="mt-2 text-shadow text-xs">Bouboum</span>
                </div>
            </a>
            <a class="menu-choice ml-6 flex items-center justify-center" href="/editeur">
                <div class="flex flex-col mt-2">
                    <img alt="editeur" src="/images/editor_bouboum.png">
                    <span class="mt-2 text-shadow text-xs">Editeur</span>
                </div>
            </a>
            <a class="menu-choice p-2 ml-6 break-words flex items-center justify-center text-shadow text-xs"
                href="/match">
                <span>Match<br>overlay</span>
            </a>
        </div>
    </div>

</div>

<%- include('templates/footer') %>