<%- include('templates/header') %>

<div class="container mx-auto px-4 text-center">

    <div>
        <h1 class="text-3xl text-green-extinction">Classements</h1>
        <p>Cliquez sur un jeu pour afficher le classement</p>
        <div class="menu mt-6 flex flex-wrap items-center justify-center">
            <a class="menu-choice flex items-center justify-center mb-4" href="/aaaah">
                <div class="flex flex-col">
                    <img alt="aaaah" src="/images/menu_aaaah.png">
                    <span class="text-shadow text-xs">Aaaah !</span>
                </div>
            </a>
            <a class="menu-choice ml-6 flex items-center justify-center mb-4" href="/bouboum">
                <div class="flex flex-col">
                    <img alt="bouboum" src="/images/menu_bouboum.png">
                    <span class="text-shadow text-xs">Bouboum</span>
                </div>
            </a>
            <a class="menu-choice ml-6 flex items-center justify-center mb-4" href="/editeur">
                <div class="flex flex-col">
                    <img alt="editeur" src="/images/editor_bouboum.png">
                    <span class="text-shadow text-xs">Editeur</span>
                </div>
            </a>
            <a class="menu-choice ml-6 flex items-center justify-center mb-4" href="/editeur/map">
                <div class="flex flex-col">
                    <img alt="editeur" src="/images/editor_bouboum.png">
                    <span class="text-shadow text-xs">Cartes</span>
                </div>
            </a>
            <a id="match-overlay" style="position: relative;" class="mb-4 bg-empty-square-extinction menu-choice ml-6 break-words flex items-center justify-center text-shadow text-xs"
                href="/match">
                <span style="z-index: 10; position: absolute">Match<br>overlay</span>
                <video class="mt-6 ml-10 pl-3" autoplay muted loop id="myVideo">
                    <source src="/images/gif_bouboum_menu2.mp4" type="video/mp4">
                </video>
            </a>
        </div>
    </div>

</div>

<%- include('templates/footer') %>