<%- include('partials/header', {
    metaTitle: 'Accueil | Bouboum.fr',
    metaDescription: 'Editeur de cartes Bouboum, classements par nombre de victoires et autres outils hors du commun pour extinction-minijeux.fr.',
}) %>
<div class="overflow-hidden flex justify-center items-center mx-auto relative"
    style="background-color: #2c2c42; height: 100%; margin-top: -64px;">

    <video autoplay muted loop class="absolute">
        <source src="/images/full_game_bouboum.mp4" type="video/mp4">
    </video>

    <div class="overlay"></div>

    <div class="flex flex-col rounded text-center mb-4 p-4" style="background-color: rgba(0,0,0, 0.55); z-index: 3; width: 800px;">
        <h1 class="text-4xl text-white-extinction mb-1 text-shadow">Bouboum</h1>
        <span class="text-lg text-shadow mt-1">Editeur de cartes Bouboum, classements par nombre de victoires et autres outils hors du commun pour <a href="https://www.extinction-minijeux.fr" class="text-red-extinction underline">extinction-minijeux.fr</a>.</span>
    </div>
</div>

<%- include('partials/footer') %>