<%- include('header') %>

<div class="container mx-auto flex flex-col">
  <div class="team-one">
    <div class="bg-black p-5">
      <h1 id="team-one-title" class="text-xl mb-4 text-red-extinction"></h1>
      <div id="team-one-list" class="players"></div>
    </div>
    <div class="mt-2">
      <label class="mr-1">Nom de la team</label>
      <input id="team-one-name" class="input-text" type="text" />
      <button data-team="team-one" class="edit-team-name ml-1 bg-extinction p-1 rounded text-xs validate">OK</button>
    </div>
    <div class="mt-1">
      <label class="mr-1">Ajouter un joueur</label>
      <input id="team-one-input" class="input-text" type="text" />
      <button data-team="team-one" class="add-player-button ml-1 bg-extinction p-1 rounded text-xs validate">OK</button>
    </div>
  </div>

  <div class="mt-10 team-two">
    <div class="bg-black p-5">
      <h1 id="team-two-title" class="text-xl mb-4 text-red-extinction"></h1>
      <div id="team-two-list" class="players"></div>
    </div>
    <div class="mt-2">
      <label class="mr-1">Nom de la team</label>
      <input id="team-two-name" class="input-text" type="text" />
      <button data-team="team-two" class="edit-team-name ml-1 bg-extinction p-1 rounded text-xs validate">OK</button>
    </div>
    <div class="mt-1">
      <label class="mr-1">Ajouter un joueur</label>
      <input id="team-two-input" class="input-text" type="text" />
      <button data-team="team-two" class="add-player-button ml-1 bg-extinction p-1 rounded text-xs validate">OK</button>
    </div>
  </div>

  <div class="p-5 bg-black mt-10 text-3xl justify-center items-center flex score">
    <span id="team-one-versus-title"></span>
    <span id="team-one-score" class="ml-10 text-5xl text-yellow-extinction"></span>
    <span class="ml-10 mr-10 text-red-extinction">vs</span>
    <span id="team-two-score" class="mr-10 text-5xl text-yellow-extinction"></span>
    <span id="team-two-versus-title"></span>
  </div>

  <div class="mt-2 flex justify-center items-center">
    <div>
      <label class="mr-1">Score 1</label>
      <input id="team-one-number" class="input-number" type="number" />
      <button data-team="team-one" class="edit-team-score ml-1 bg-extinction p-1 rounded text-xs validate">OK</button>
    </div>
    <div class="ml-20">
      <label class="mr-1">Score 2</label>
      <input id="team-two-number" class="input-number" type="number" />
      <button data-team="team-two" class="edit-team-score ml-1 bg-extinction p-1 rounded text-xs validate">OK</button>
    </div>
  </div>
</div>


<script src="/javascripts/match.js"></script>
<%- include('footer') %>