<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Bouboum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Classement Bouboum">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/bomb.png" />
    <link rel="stylesheet" href="/stylesheets/dropdown.min.css">
    <link rel="stylesheet" href="/stylesheets/tailwind.min.css" />
    <link rel="stylesheet" href="/stylesheets/extinction.min.css" />
    <link rel="stylesheet" href="/stylesheets/matchstyle.min.css" />
    <script src="/javascripts/navbar.min.js"></script>
</head>

<body class="m-0 p-0 text-white-extinction bg-extinction-dark">
    <%- include navbar.ejs %>