<nav class="flex items-center justify-between flex-wrap bg-extinction p-4 relative z-10 shadow">
  <div class="text-white mr-10">
    <a href="/" class="flex items-center flex-shrink-0">
      <img src="/images/favicon.png" alt="logo" class="h-8 w-8 mr-2">
      <path
        d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z" />
      </svg>
      <span class="font-semibold text-xl tracking-tight">Bouboum</span>
    </a>
  </div>
  <div class="block lg:hidden">
    <button id="nav-toggle"
      class="flex items-center px-3 py-2 border rounded text-grey border-grey-dark hover:text-white hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <title>Menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
      </svg>
    </button>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center hidden lg:w-auto" id="nav-content">
    <div class="text-sm flex">
      <div class="dropdown">
        <a class="dropbtn text-shadow">Classements</a>
        <div class="dropdown-content bg-extinction-dark text-white-extinction rounded">
          <a href="/aaaah" class="text-shadow">Aaaah !</a>
          <a href="/bouboum" class="text-shadow">Bouboum</a>
        </div>
      </div>
      <div class="block dropdown mr-8">
        <a class="dropbtn text-shadow">Editeur Bouboum</a>
        <div class="dropdown-content bg-extinction-dark text-white-extinction rounded">
          <a href="/editeur" class="text-shadow">Editeur</a>
          <a href="/editeur/map" class="text-shadow">Liste des cartes</a>
        </div>
      </div>
      <a href="/match" class="text-shadow">
        Match Overlay
      </a>
    </div>
  </div>
</nav>