<%- include('../templates/header') %>

<div class="mt-8 container mx-auto px-4 text-center flex flex-col items-center">

    <div class="mb-10">
        <h1 class="text-4xl text-red-extinction mb-1">Editeur Bouboum</h1>
        <label class="flex flex-col">
            <span>Une fois votre carte créée, vous pouvez la télécharger puis la charger sur <a
                    href="https://extinction-minijeux.fr/" class="text-green-extinction underline"> Extinction</a> avec
                la commande <span class="text-red-extinction">/load</span>.</span>
        </label>
    </div>

    <%- include('./_info') %>

    <div class="select-none mb-6 flex justify-center">
        <div class="flex flex-col justify-between w-56 bg-extinction p-4 rounded">
            <div id="canvas-squares" class="flex flex-col">
                <h2 class="font-bold text-lg text-left mb-4">Blocs</h2>
                <label class="radio-container flex items-center mb-4 text-xs">
                    <input type="radio" id="radio-empty" name="square" value="0">
                    <span class="checkmark"></span>
                    <img id="empty-square" class="mr-3 bg-empty-square-extinction">Clic droit
                </label>
                <label class="radio-container flex items-center mb-4 text-xs">
                    <input type="radio" id="radio-black" name="square" value="1">
                    <span class="checkmark"></span>
                    <img class="mr-3" id="black-square" src="/images/black_square.png">Touche 1
                </label>
                <label class="radio-container flex items-center mb-4 text-xs">
                    <input type="radio" id="radio-blue" name="square" value="2" checked>
                    <span class="checkmark"></span>
                    <img class="mr-3" id="blue-square" src="/images/blue_square.png">Touche 2
                </label>
                <label class="radio-container flex items-center mb-4 text-xs">
                    <input type="radio" id="radio-orange" name="square" value="3">
                    <span class="checkmark"></span>
                    <img class="mr-3" id="orange-square" src="/images/orange_square.png">Touche 3
                </label>
                <label class="radio-container flex items-center text-xs">
                    <input type="radio" id="radio-ice" name="square" value="4">
                    <span class="checkmark"></span>
                    <img class="mr-3" id="ice-square" src="/images/ice_square.png">Touche 4
                </label>
            </div>

            <div>
                <label class="radio-container flex items-center"><span class="mt-1">Afficher la grille</span>
                    <input id="grid" type="checkbox">
                    <span class="checkmark"></span>
                </label>

                <label class="radio-container flex items-center mt-1"><span class="mt-1">Afficher les spawns</span>
                    <input id="spawns" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="flex flex-col">
                <label class="custom-file-upload text-menu-extinction mb-2" for="import-map">
                    <input id="import-map" type="file" accept=".txt">
                    Importer une carte
                </label>
                <label class="text-yellow-extinction text-menu-extinction text-shadow mb-2" id="download">Télécharger la
                    carte</label>
                <span id="reset" class="text-menu-extinction text-red-extinction mb-6">Réinitialiser</span>
                <span class="text-menu-extinction text-darkblue-extinction" id="submit">Soumettre la carte</span>
                <a href="" download id="download-map" class="hidden"></a>
            </div>
        </div>

        <div class="ml-6">
            <div class="flex justify-between">
                <div class="mb-2 flex items-center">
                    <span class="text-shadow">Titre :</span>
                    <input type="text" id="title" maxlength="37" minlength="4"
                        class="overflow-hidden input-text ml-2 bg-extinction text-left flex items-center"
                        style="width: 20rem;"></span>
                </div>
                <div class="mb-2 flex items-center">
                    <span class="text-shadow">Auteur :</span>
                    <input type="text" id="author" maxlength="12" minlength="3"
                        class="overflow-hidden input-text ml-2 bg-extinction text-left flex items-center"
                        style="width: 10rem;"></span>
                </div>
            </div>

            <div id="all-canvas" class="relative bg-empty-square-extinction" style="height:456px; width:696px;" >
                <canvas id="grid-area" class="absolute z-30 pointer-events-none hidden" oncontextmenu="return false" height="456" width="696"></canvas>
                <canvas id="spawn-area" class="absolute z-20 pointer-events-none hidden" oncontextmenu="return false" height="456" width="696"></canvas>
                <canvas id="editor-area" class="absolute z-10" height="456" width="696"
                    class="absolute">
                </canvas>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/editor.min.js"></script>

<%- include('../templates/footer') %>