.ct-label {
    font-size: 12px;
    color: #c3c3c3;
}

.ct-point {
    stroke-width: 0px;
}

.ct-series-a .ct-line {
    stroke: #019d9d;
    stroke-width: 3px;
}

.ct-series-b .ct-line {
    stroke: #cb546b;
    stroke-width: 3px;
}

.ct-series-c .ct-line {
    stroke: #c9cd36;
    stroke-width: 3px;
}

.ct-series-c .ct-line {
    stroke: #6B76C0;
    stroke-width: 3px;
}

.ct-grids {
    display: none;
}