.dropbtn {
    border: none;
    cursor: pointer;
    padding: 24px;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.2);
    top: 20px;
    min-width: 130px;
    z-index: 10;
}

.dropdown-content a:hover {background-color: #2a2a30}
  
.dropdown-content a {
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
