html, body {
  height: 100%;
}

.bg-empty-square-extinction {
  background-color: #36364B;
}

.bg-extinction {
  background-color: #303036;
}

.bg-extinction-darkless {
  background-color: #28282d;
}

.bg-extinction-dark {
  background-color: #212127;
}

.bg-green-extinction {
  background-color: #019d9d;
}

.text-darkblue-extinction {
  color: #6B76C0;
}

.text-white-extinction {
  color: #c2c2da;
}

.text-red-extinction {
  color: #cb546b;
}

.bg-red-extinction {
  background-color: #cb546b;
}

.text-gray-extinction {
  color: #7a85ac;
}

.text-yellow-extinction {
  color: #c9cd36;
}

.text-green-extinction {
  color: #019d9d;
}

.text-blue-extinction {
  color: #6872b8;
}

table tr {
  padding: 1rem;
  border-radius: 4px;
}

tbody tr:hover {
  background-color: #1b1b20;
}

table {
  border-collapse: separate;
  border-spacing: 0 .20rem;
  border-collapse: none;
}

table td {
  padding: 6px 0px;
}

.date-selector {
  cursor: pointer;
}

.text-2xs {
  font-size: 0.5rem;
}

.date-selector {
  outline: none;
  box-shadow: none;
}

.section {
  border: 1px solid #142C50;
  outline: 1px solid #000000;
  box-shadow: 0px 0px 0px 2px #808080;
  background-color: #303036;
  padding: .5rem;
}

.menu-choice {
  width: 120px;
  height: 90px;
  overflow: hidden;
  border-radius: 6px;
  border: 2px solid black;
  cursor: pointer;
  background-color: rgba(10, 10, 10, 0.5);
}

.text-menu-extinction {
  text-shadow: 2px 1px 2px black;
}

.text-menu-extinction:hover {
  text-shadow: #019D9D 0px 0px 5px;
  cursor: pointer;
}

.menu-choice:hover span {
  text-shadow: #019D9D 0px 0px 5px;
}

nav a:hover {
  text-shadow: #019D9D 0px 0px 5px;
}

.show-data {
  cursor: pointer;
}

.text-shadow {
  text-shadow: 2px 1px 2px black;
}

video {
  max-width: none;
}

#empty-square {
  height: 24px;
  width: 24px;
  min-width: 24px;
  min-height: 24px;
}

/* INPUT RADIO AND CHECKBOX STYLE */

.radio-container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
}

.radio-container:hover {
  text-shadow: #019D9D 0px 0px 5px;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #1E1E24;
  border-radius: 6px;
}

/* When the checkbox is checked, add background */

.radio-container input:checked~.checkmark {
  background-color: #1E1E24;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after, .checkmark:before {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.radio-container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.radio-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #019D9D;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.custom-file-upload input {
  display: none;
}

.map {
  width: 23.5%;
  transition: all .15s;
}

@media (max-width: 1279px) {
  .map {
    width: 31%;
  }
}

@media (max-width: 1023px) {
  .map {
    width: 100%;
  }
}

.result-top3:nth-child(1) {
  width: 30%;
  order: 2;
}

.result-top3:nth-child(2) {
  width: 25%;
  order: 1;
}

.result-top3:nth-child(3) {
  width: 20%;
  order: 3;
}

@media (max-width: 1279px) {
  .result-top3:nth-child(1) {
    width: 32%;
    order: 2;
  }
  .result-top3:nth-child(2) {
    width: 26.2%;
    order: 1;
  }
  .result-top3:nth-child(3) {
    width: 23.2%;
    order: 3;
  }
}

@media (max-width: 1023px) {
  .result-top3:nth-child(1) {
    width: 70%;
    order: 1;
  }
  .result-top3:nth-child(2) {
    width: 47.3%;
    order: 2;
  }
  .result-top3:nth-child(3) {
    width: 47.3%;
    order: 3;
  }
}

@media (max-width: 768px) {
  .result-top3:nth-child(1) {
    width: 100%;
    order: 1;
  }
  .result-top3:nth-child(2) {
    width: 100%;
    order: 2;
  }
  .result-top3:nth-child(3) {
    width: 100%;
    order: 3;
  }
}

@media (max-width: 600px) {
  .result-top3:nth-child(1) {
    width: 100%;
    order: 1;
  }
  .result-top3:nth-child(2) {
    width: 100%;
    order: 2;
  }
  .result-top3:nth-child(3) {
    width: 100%;
    order: 3;
  }
}

.result {
  width: 18.65%;
  transition: all .15s;
}

@media (max-width: 1279px) {
  .result {
    width: 23.2%;
  }
}

@media (max-width: 1023px) {
  .result {
    width: 47.3%;
  }
}

@media (max-width: 768px) {
  .result {
    width: 46.9%;
  }
}

@media (max-width: 600px) {
  .result {
    width: 100%;
  }
}

input::placeholder {
  color: #54545e;
  text-shadow: none;
}

.download-container {
  position: relative;
  text-align: center;
}

.download-container:hover .download-top-right {
  display: block;
  transition: all .2s;
}

.download-top-right {
  display: none;
  position: absolute;
  top: 6px;
  right: 6px;
  background-color: rgba(33, 33, 39, 0.5);
}

.download-container:hover .delete-bottom-right {
  display: block;
  transition: all .2s;
}

.vote-bottom-right {
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-style: solid;
  border-width: 0 0 64px 64px;
  border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
}

.vote-bottom-right img {
  width: 24px !important;
  height: 24px !important;
  max-width: inherit;
  top: 34px;
  bottom: 0;
  right: 6px;
}

.delete-bottom-right {
  display: none;
  position: absolute;
  bottom: 6px;
  right: 6px;
  background-color: rgba(33, 33, 39, 0.5);
}

.delete-bottom-right:hover, .vote-bottom-right:hover {
  cursor: pointer;
}

video {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 1;
  width: 1280px;
  margin-top: 24px;
}

#form-tag {
  width: 696px;
}

@media (max-width: 800px) {
  video {
    width: 1024px;
  }
}

@media (max-width: 660px) {
  video {
    width: 800px;
  }
}

@media (max-width: 530px) {
  video {
    width: 600px;
  }
}

.poll .poll-img {
  transition: width .3s;
}

.poll:hover {
  background-color: #24242b;
}

.poll:hover .poll-img {
  width: 12rem;
  transition: width .3s;
}

.rotating {
  animation: rotation 2s infinite linear;
  -webkit-animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-359deg);
  }
}