html, body {
  height: 100%;

}

.bg-empty-square-extinction {
  background-color:	#36364B;
}

.bg-extinction {
  background-color: #303036;
}

.bg-extinction-dark {
  background-color: #212127;
}

.bg-green-extinction {
  background-color: #019d9d;
}

.text-white-extinction {
  color: #c2c2da;
}

.text-red-extinction {
  color: #cb546b;
}

.bg-red-extinction {
  background-color: #cb546b;
}

.text-yellow-extinction {
  color: #c9cd36;
}

.text-green-extinction {
  color: #019d9d;
}

.text-blue-extinction {
  color: #6872b8;
}

table tr {
  padding: 1rem;
  border-radius: 4px;
}

tbody tr:hover {
  background-color: #1b1b20;
}

table {
    border-collapse: separate;
    border-spacing: 0 .20rem;
    border-collapse: none;
}

table td {
  padding: 6px 0px;
}

.date-selector {
  cursor: pointer;
}

.text-2xs {
  font-size: 0.5rem;
}

.date-selector {
  outline: none;
  box-shadow: none;
}

.section {
  border: 1px solid #142C50;
  outline: 1px solid #000000;
  box-shadow: 0px 0px 0px 2px #808080;
  background-color: #303036;
  padding: .5rem;
}

.menu-choice {
  width: 120px;
  height: 90px;
  overflow: hidden;
  border-radius: 6px;
  border: 2px solid black;
  cursor: pointer;
}

.text-menu-extinction {
  text-shadow: 2px 1px 2px black;
}

.text-menu-extinction:hover {
  text-shadow: #019D9D 0px 0px 5px;
  cursor: pointer;
}

.menu-choice:hover span {
  text-shadow: #019D9D 0px 0px 5px;
}

nav a:hover {
  text-shadow: #019D9D 0px 0px 5px;
}

.show-data {
  cursor: pointer;
}

.text-shadow {
  text-shadow: 2px 1px 2px black;
}

video  {
  max-width: none;
}

#empty-square {
  height: 24px;
  width: 24px;
  min-width: 24px;
  min-height: 24px;
  border: 1px solid black;
}