.player {
    background-color: #1E1E22;
    border: 1px solid #999999;
    outline: 1px solid #232059;
    box-shadow: 0px 0px 2px 2px black;
    padding: 3px 5px;
    width: 200px;
    margin-bottom: 4px;
    overflow: hidden;
}

.bg-extinction-darker {
    background-color: #1E1E22;
}

span:focus {
    outline: none;
    box-shadow: none;
}

.player:hover {
    background-color: rgb(20, 20, 22);
    cursor: text;
}

.input-text {
    color: #C2C2DA;
    text-shadow: #C2C2DA 0px 0px 0.5px;
    border-radius: 6px;
    background-color: #1E1E24;
    height: 26px;
    border-style: solid;
    border-width: 1px;
    border-top-color: black;
    border-left-color: black;
    border-right-color: #686875;
    border-bottom-color: #686875;
    padding: 2px 6px;
}

.input-text-reverse {
    color: #C2C2DA;
    text-shadow: #C2C2DA 0px 0px 0.5px;
    border-radius: 6px;
    background-color: #1E1E24;
    height: 24px;
    border-style: solid;
    border-width: 1px;
    border-top-color: #686875;
    border-left-color: #686875;
    border-right-color: black;
    border-bottom-color: black;
    padding: 2px 6px;
}

.input-number {
    color: #C2C2DA;
    text-shadow: #C2C2DA 0px 0px 0.5px;
    border-radius: 6px;
    background-color: #1E1E24;
    height: 30px;
    width: 90px;
    border-style: solid;
    border-width: 1px;
    border-top-color: black;
    border-left-color: black;
    border-right-color: #686875;
    border-bottom-color: #686875;
    padding: 0px 6px;
}

.validate:hover {
    cursor: pointer;
    text-shadow: #019D9D 0px 0px 5px;
}