
.mini-toastr__notification {
    display: flex;
    align-items: center;
    border-radius: 3px !important;
}

.-error {
    background-color: #bd362f !important;
}

.-success {
    background-color: #51a351 !important;
}

.-info {
    background-color: #2f96b4 !important;
}

.-warn {
    background-color: #f89406 !important;
}
